.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__bio {
        padding: 1rem;
        width: 50%;
        border: 1px solid black;
        text-align: left;
    }

    &__title {
        font-size: 2rem;

        color: black;
    }

    &__technology {
        padding: 1rem;
        width: 50%;
        border: 1px solid black;
    }

    &__img {
        width: 450px;
        height: 250px;
    }
}