.nav {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;

    &__logo {
        font-size: 4rem;
        font-weight: bold;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }

    &__item {
        margin-left: 3.5rem;
    }

    &__link {
        font-weight: 700;
        color: black;
        font-size: medium;
    }
}