.navigation {
    width: 100vh;
    height: 4.5rem;
    position: fixed;
    background: blue;
    // transform: rotate(-90deg) translateX(-100%);
    // transform-origin: left top;
    font-size: 1.6rem;
    padding-right: 5rem;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    &__item {
        margin-right: 20px;
        height: 100%;
        
    }
    &__link {
        &:hover {
            color: white;
        }
        
    }
}