.work {
    margin: 0 2rem;


    &__row {
        display: flex;
        justify-content: space-between;

    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__subtitle {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__img {
        height: 20rem;
        width: 20rem;
        border-radius: 2rem;
    }

    &__about {
        position: absolute;
        left: 1rem;
        bottom: 10rem;
        width: 100%;
        color: white;
    }
}