// .header {
//     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
//     background-color: #5b639c;
// }


.section-welcome {
    background-image: url(/img/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 20rem 0;
}

.section-work {
    background-color: rgb(128, 106, 106);

}